.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 50px repeat(5, 1fr);
  height: 90vh;
  > p {
    font-weight: bold;
    margin-left: 20px;
    background-color: white;
  }
}
